/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials1 .testimonial-wrap {
    margin-top: 100px;
    padding-left: 50px;
}

.testimonials1 .testimonials-carousel,
.testimonials1 .testimonials-slider {
    overflow: hidden;
}

.testimonials1 .testimonial-item {
    box-sizing: content-box;
    padding: 25px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 460px;
    box-shadow: rgba(0, 0, 0, 0.881) 0px 3px 8px;
    /* box-shadow: 0px 5px 20px rgba(25, 174, 164, 0.747); */
    position: relative;
    background: #fff;
}

.testimonial1 .testimonial-item:hover {
    box-shadow: rgba(0, 0, 0, 0.826) 0px 3px 8px;
}

.testimonials1 .testimonial-item .testimonial-img {
    width: 150px;
    height: 130px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: 45px;
}

.testimonials1 .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 45px 0 5px 0;
    color: #111;
}

.testimonials1 .testimonial-item .down {
    position: absolute;
    top: 120px;
}

.testimonials1 .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials1 .testimonial-item .quote-icon-left,
.testimonials1 .testimonial-item .quote-icon-right {
    color: #e1f0fa;
    font-size: 26px;
}

.testimonials1 .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials1 .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials1 .testimonial-item p {
    text-align: justify;
    margin: 15px auto 15px auto;
    margin-right: 50px;
}

.testimonials1 .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials1 .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #9f9f9f;
}

.testimonials1 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff0303;
}

@media (max-width: 767px) {
    .testimonials1 .testimonial-wrap {
        padding-left: 0;
    }

    .testimonials1 .testimonials-carousel,
    .testimonials1 .testimonials-slider {
        overflow: hidden;
    }

    .testimonials1 .testimonial-item {
        padding: 30px;
        margin: 15px;
        min-height: 390px;
    }

    .testimonials1 .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }

    .testimonials1 .testimonial-item p {
        font-size: 10px;

    }
}